* {
    box-sizing: border-box;
}
.navbar-default{
    padding: 10px 0;
    background: #2F3E9E;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
#nav-list li a{
    text-transform: uppercase;
    color: #fff;
}
.logo img{
    width: 120px;
    height: auto;
    margin-left: 15px;
}
.jumbotron{
    background: #3E50B4;
    position: relative;
    margin: 0;
    height: 600px;
}
.intro-title{
    margin-top: 140px;
    margin-bottom: 20px;
}
.jumbotron .intro-title{
    font-size: 2.5em;
    color: #fff;
    font-weight: 700;
    line-height: 1.5;
}
.jumbotron .intro-text{
    font-size: 16px;
    color: #C4C9E8;
    line-height: 1.8;
    font-family: sans-serif;
    margin-left: 3px;
    margin-bottom: 25px;
}
#btn-download{
    background: #4389FE;
    padding: 10px 25px;
    border-radius: 2px;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    box-shadow: 0 2px 2px rgba(0,0,0,0.4);
    position: relative;
    transition: all .3s ease;
    overflow: hidden;
}
.image-wrap{
    padding-top: 60px;
}
.image-wrap img {
    width: 300px;
    height: auto;
}
#image-wrap{
    text-align: center;
}
.features{
    padding: 80px 0;
}
.features-title{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    margin-bottom: 30px;
}
.features hr{
    width: 100px;
    border: 1px solid #2F3E9E;
    margin-bottom: 30px;
}
.features-text{
    font-size: 16px;
    color: #B5B5B5;
    margin-bottom: 80px;
}
.features-list{
    padding-top: 50px;
}
.features-list ul li {
    position: relative;
    margin-bottom: 50px;
}
.features-left ul li {
    padding-right: 60px;
    text-align: right;
}
.features-right ul li {
    padding-left: 60px;
    text-align: left;
}
ul li {
    list-style-type: none;
}
.features-left ul li i {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 32px;
    color: #717171;
}
.features-right ul li i {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 32px;
    color: #717171;
}
.features-list h3{
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #444;
    font-weight: 100;
}
.features-list p {
    color: #9D9D9D;
}
p:last-child {
    margin-bottom: 0;
}
p {
    margin-bottom: 25px;
    line-height: 1.8;
}
.section-between {
    padding: 80px 0;
    background: #3E50B4;
    color: #ffffff;
}
.section-between h2{
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 32px;
}
.section-between hr{
    color: #fff;
    width: 100px;
    margin-bottom: 30px;
}
.section-between p{
    font-size: 16px;
    color: #f5f5f5;
    margin-bottom: 80px;
    padding: 0 100px;
}
.between-image{
    margin-bottom: 60px;
}
.between-image img{
    width: 600px;
    height: auto;
}
.benefit{
    padding: 80px 0;
}
.benefit-image{
    padding-top: 60px;
}
.benefit-image img{
    width: 400px;
    height: auto;
}
.benefit-title {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
}
.benefit hr{
    border: 1px solid #2F3E9E;
    width: 100px;
    float: right;
}
.benefits-list{
    padding-top: 60px;
    clear: right;
}
.benefits-list ul li {
    position: relative;
    padding-right: 60px;
    margin-bottom: 50px;
}
.benefits-list ul li i{
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 32px;
    color: #717171;
    display: block;
}
.benefits-list h3 {
    text-transform: uppercase;
    color: rgb(168, 168, 168);
}
.benefits-list p {
    color: #9D9D9D;
    padding-left: 30%;
}
p:last-child {
    margin-bottom: 0;
}
p {
    margin-bottom: 25px;
    line-height: 1.8;
}
.screenshots .screenshot-title{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
}
.screenshots hr{
    border: 1px solid #2F3E9E;
    width: 100px;
}
.screenshots p{
    color:  #B5B5B5;
    margin-bottom: 30px;
    font-size: 16px;
}
.item img{
    width: 240px;
    height: auto;
}
img{
    margin: 0 auto;
}
.testimonial-image{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.testimonial-image img{
    width: 100%;
    height: auto;
}
.testimonial-name{
    font-size: 18px;
    margin-bottom: 20px;
    color: #CED7DB;
    text-transform: capitalize;
}
.testimonial-text{
    padding: 0 100px;
}
.between-section{
    margin-top: 80px;
    padding: 80px 0;
    background: #3E50B4;
    color: #ffffff;
}
.number-icons{
    font-size: 40px;
    margin-bottom: 20px;
}
.numbers-stats{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}
.numbers-title{
    font-size: 18px;
    text-transform: uppercase;
}
.price {
    padding: 80px 0;
}
.price-title{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
}
.price hr{
    border: 1px solid #2F3E9E;
    width: 100px;
}
.price-sub-title{
    font-size: 16px;
    color: #B5B5B5;
    margin-bottom: 80px;
}
.price-item {
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    transition: all .3s ease;
    margin-top: 50px;
}
.price-item-name {
    padding: 30px 0;
    border-bottom: 1px dotted #f5f5f5;
    font-size: 22px;
    text-transform: uppercase;
}
.price-item.active{
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.active .price-item-name{
    color: #ffffff;
    background: #2F3E9E;
}
.price-item:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.price-item-price{
    padding: 30px 0 5px 0;
    font-size: 34px;
    font-weight: 700;
}
.price-item-renew{
    color: #B5B5B5;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}
.price-item-list ul li{
    margin-bottom: 20px;
    color: #717171;
    font-size: 17px;
    text-transform: capitalize;
}
.price-item-buy{
    padding: 50px 0;
}
#buy{
    background: #4389FE;
    padding: 10px 25px;
    border-radius: 2px;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    box-shadow: 0 2px 2px rgba(0,0,0,0.4);
    position: relative;
    transition: all .3s ease;
    overflow: hidden;
}
.testimonial{
    padding: 80px 0;
    background: #3E50B4;
    color: #ffffff;
}
.testimonial-title{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
}
.testimonial hr{
    border: 1px solid #FFFFFF;
    width: 100px;
}
.follow{
    padding: 80px 0;
}
.follow-title{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
}
.follow hr{
    border: 1px solid #2F3E9E;
    width: 100px;
}
.follow-sub-title{
    font-size: 16px;
    color: #B5B5B5;
    margin-bottom: 80px;
}
.social-links-wrapper{
    margin-top: 50px;
}
.social-links-wrapper a {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
    line-height: 60px;
    margin: 0 10px;
}
.fb{
    background: #3B5998;
}
.gp{
    background: #DD4B39;
}
.im{
    background: #517FA4;;
}
.pt{
    background: #CB2027;
}
.tw{
    background: #00ACED;
}
footer{
    padding: 20px 20px 10px 20px;
    background: #fff;
    text-align: center;
}
.buy{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 700;
}
.buyform{
    display: inline-block;
    vertical-align: top;
}

@media (min-width: 992px){
    .benefits-list span{
        font-size: 20px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .features-list {
        padding-top: 0;
    }
    .features-list h3 {
        font-size: 22px;
    }
    .features-left ul li {
        padding-right: 0;
    }
    .features-right ul li {
        padding-left: 0;
    }
    .features-right ul li i {
        display: none;
    }
    .features-left ul li i {
        display: none;
    }
    .features-list h3{
        font-size: 22px;
    }
    .between-image img{
        width: 100%;
        height: auto;
    }
    .benefits-list {
        padding-top: 40px;
    }
    .benefits-list ul li {
        padding-right: 30px;
    }
    .benefits-list ul li i {
        font-size: 20px;
    }
    .price-item {
     margin-bottom: 40px;
    }
}
@media (max-width: 767px) and (min-width: 479px){
    .jumbotron{
        text-align: center;
    }
    .features-list {
        padding-top: 0;
    }
    .features-left ul li {
        padding-right: 0;
        text-align: center;
    }
    .features-right ul li {
        padding-left: 0;
        text-align: center;
    }
    .features-right ul li i {
        position: relative;
        margin-bottom: 20px;
        text-align: center;
    }
    .features-left ul li i{
        position: relative;
        margin-bottom: 20px;
        text-align: center;
    }
    .features-list h3 {
        text-align: center;
        font-size: 22px;
    }
    .between-image img{
        width: 100%;
        height: auto;
    }
    .benefit .benefit-title{
        text-align: center;
    }
    .benefit hr{
        float: none;
    }
    .benefit-image img {
        width: 100%;
        height: auto;
    }    
    .benefits-list{
        padding: 40px;
        text-align: center;
    }
    .benefits-list ul li {
        padding-right: 0;
        text-align: center;
        }
    .benefits-list ul li i{
        position: relative;
        margin-bottom: 20px;
    }
    .benefits-list h3 {
        font-size: 22px;
    }
    .benefits-list p {
        padding-left: 0;
    }
    .numbers-item {
    margin-bottom: 50px;
    }
    .price-item {
        margin-bottom: 40px;
    }
} 
@media (max-width: 478px) and (min-width: 299px){
    .jumbotron{
        text-align: center;
    }
    .features-list {
        padding-top: 0;
    }
    .features-left ul li {
        padding-right: 0;
        text-align: center;
    }
    .features-right ul li {
        padding-left: 0;
        text-align: center;
    }
    .features-list ul li i {
        position: relative;
        margin-bottom: 20px;
        text-align: center;
    }
    .features-list h3 {
        text-align: center;
        font-size: 22px;
    }
    .image-wrapp {
        width: auto;
    }
    .image-wrapp img {
        width: 100%;
        height: auto;
    }
    .between-image img{
        width: 100%;
        height: auto;
    }
   .section-between p{
       padding: 0;
   }
   .benefit .benefit-title{
    text-align: center;
    }
   .benefits-list ul li {
    padding-right: 0;
    text-align: center;
    }
   .benefits-list ul li i{
    position: relative;
    margin-bottom: 20px;
    }
    .benefits-list p {
        padding-left: 0;
    }
    .benefit hr{
        float: none;
    }
    .numbers-item {
        margin-bottom: 50px;
    }
    .price-item {
        margin-bottom: 40px;
    }
}